<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

	<settings>
		<setting name="callSettersOnNulls" value="true"/>
		<setting name="cacheEnabled" value="false" />
		<setting name="useGeneratedKeys" value="true" />
		<setting name="defaultExecutorType" value="REUSE" />
		<setting name="defaultStatementTimeout" value="25000"/>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
 
	<typeAliases>
	 	<typeAlias type="com.msu.common.NPFrmVO" alias="searchVO" /> 
	 	<typeAlias type="com.msu.common.EgovMap" alias="egovMap" />					
		<typeAlias type="java.util.Map" alias="map"/>
	</typeAliases>
	
	<plugins>
		<!-- <plugin interceptor="com.msu.common.QueryInterceptor"/> -->
		<plugin interceptor="com.msu.common.UpdateInterceptor"/>
	</plugins>

</configuration>